.knob-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.knob-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.knob-title{
    margin-right: 10px;
}
.info-container{
    width: 400px;
    font-size: 14px;
    font-weight: normal;
 
}