.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}


.bm-burger-bars {
  background: var(--blue);
}

.bm-cross-button {
  height: 45px;
  width: 45px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: var(--bg2);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-item-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bm-item-list, .bm-menu, .bm-menu-wrap{
  overflow-y: hidden;
}
.bm-item{
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
  background: none;
  text-align: left;
  text-decoration: none;
  padding: 5px;
  color: white;
  font-weight: 500;
  border: none;
  transition: 100ms transform;
}

.sim:hover{
  background-color: var(--blue);
}
.calc:hover{
  background-color: var(--green);
}

.bm-item:focus{
  outline: none;
}

.dropdown-item{
  transition: 100ms transform;
  font-size: 20px;
  margin: 4px;
}
.elements{
  list-style: none;
 
}
.elements li{
  margin: 10px;
}
.bm-item-container{
  width: 100%;
}