.panel{
   width: 100%;
}
.play-container{
    display: flex;
    justify-content: center;
}
.play-container button{
    position: relative;
    padding: 1em 1.5em;
    border: none;
  
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    color: white;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    width: 200px;
}
.play-container button::after, .play-container button::before{
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 10px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}
.play-container button::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: var(--button);
    border-left-color: var(--button);
}
.play-container button::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--button);
    border-right-color: var(--button);
}
.play-container button:hover:after, .play-container button:hover:before{
    width: 100%;
    height: 100%;
}


.knob-container{
    text-align: center;
    font-size: 26px;
    margin: 0 30px;
}
.knobs{
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
:root{
    --button: #509C2F;
    
}
.knobs-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}