.slider-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider-title{
    margin-right: 10px;
}
.info-container{
    width: 400px;
    font-size: 14px;
    font-weight: normal;
 
}
.slider{
    margin: 25px;
}
.slider-value{
    font-size: 20px;
    margin: 10px;
}